@model TestNetCORE.Models.ToDoItem

<h2 style="color: white">@Model.Title</h2>

<div class="thumbnail">
    <h5></h5>
    <h3>@Model.Description</h3>
    <h3></h3>
    <h4>Task Ends: @Model.EndDateTime</h4>
</div>